<h1>Listing spit_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spit_types.each do |spit_type| %>
  <tr>
    <td><%= spit_type.name %></td>
    <td><%= link_to 'Show', spit_type %></td>
    <td><%= link_to 'Edit', edit_spit_type_path(spit_type) %></td>
    <td><%= link_to 'Destroy', spit_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spit type', new_spit_type_path %>
