<%= form_for(@spit) do |f| %>
  <% if @spit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spit.errors.count, "error") %> prohibited this spit from being saved:</h2>

      <ul>
      <% @spit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :contributor_id %><br />
    <%= f.text_field :contributor_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
